@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

h1 {
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  margin-top: 3rem;
}

h2 {
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  margin-top: 0.7 rem;
}

h3 {
  color: #676767;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

p {
  font-family: "Roboto", sans-serif;
  line-height: 2rem;
  font-size: 1.5rem;
  padding-top: 5px;
  padding-bottom: 2px;
  overflow: auto;
}

nav ul li a {
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: 1.7rem;
  font-weight: 300;
}

footer div a img:hover {
  opacity: 70%;
}

nav ul li a:hover {
  font-weight: bold;
}

nav {
  padding-left: 25px;
  padding-right: 25px;
}

.bg-light {
  background-color: #ffffff !important;
}

.navbar-light .navbar-toggler {
  border-color: rgb(255, 255, 255);
}

.carousel-control-next,
.carousel-control-prev {
  opacity: 0.99;
}

.carousel-indicators [data-bs-target] {
  width: 12px;
  height: 12px;
  border-radius: 100%;
}

.row {
  margin-right: 25px;
  margin-left: 25px;
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 1.5rem;
}

input {
  text-decoration: none;
}

.text-right {
  text-align: right;
  margin-right: 25px;
  float: right;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
  padding: 10px 64px;
}

.vinculos-redes {
  width: 95%;
  padding-top: 25px;
  padding-bottom: 25px;
  margin: 25px auto;
  border-top: solid #000000 1px;
  border-bottom: solid #000000 1px;
  display: inline-block;
  letter-spacing: 21px;
}

main div img {
  width: 100%;
}

div figure img {
  width: 100%;
}

iframe {
  margin: 0;
  padding: 0;
}

.imagenes-ancho {
  width: 98%;
}

.flex {
  display: flex;
  display: inline-block;
}

.flex1 {
  display: flex;
  display: inline-flex;
}

.izquierda-texto {
  width: 85%;
  margin-left: 30px;
  flex-wrap: wrap;
}

article p {
  margin-top: 10px;
}

.button {
  margin-right: 30px;
}

button:hover {
  opacity: 70%;
}

div p {
  display: inline-block;
}

article p {
  display: block;
}

/* Comienzo hover en imagenes */

.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor figure {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.contenedor figure img {
  width: 100%;
  height: 100%;
  transition: all 400ms ease-out;
  will-change: transform;
}

.contenedor figure .capa {
  position: absolute;
  left: 1.5%;
  right: 1.5%;
  top: 3%;
  bottom: 3%;
  background: rgb(255, 255, 255, 0.5);
  transition: all 400ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}

.contenedor figure:hover>.capa {
  opacity: 1;
  visibility: visible;
}

.contenedor figure:hover>.capa p {
  margin-top: 20%;
}

.contenedor figure:hover>img {
  transform: scale(1.3);
}

.contenedor figure .capa p {
  color: rgb(0, 0, 0);
  margin-bottom: auto;
  transition: all 400ms ease-out;
  font-weight: 700;
}

.contenedor figure .capa h3 {
  color: rgb(0, 0, 0);
  font-size: 15px;
  line-height: 1.5;
  width: 100%;
  max-width: 220px;
  margin: auto;
}

/* Final hover en imagenes */

/* Comienzo hover en imagenes chicas */

.contenedorsm {
  justify-content: center;
  align-items: center;
}

.contenedorsm figure {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.contenedorsm figure img {
  width: 100%;
  height: 100%;
  transition: all 400ms ease-out;
  will-change: transform;
}

.contenedorsm figure .capa {
  position: absolute;
  left: 3%;
  right: 3%;
  top: 3%;
  bottom: 3%;
  background: rgb(255, 255, 255, 0.7);
  transition: all 400ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}

.contenedorsm figure:hover>.capa {
  opacity: 1;
  visibility: visible;
}

.contenedorsm figure:hover>.capa p {
  margin-top: 40%;
}

.contenedorsm figure:hover>img {
  transform: scale(1.3);
}

.contenedorsm figure .capa p {
  color: rgb(0, 0, 0);
  margin-bottom: auto;
  transition: all 400ms ease-out;
  font-weight: 700;
}

.contenedorsm figure .capa h3 {
  color: rgb(0, 0, 0);
  font-size: 15px;
  line-height: 1.5;
  width: 100%;
  max-width: 220px;
  margin: auto;
}

/* Final hover en imagenes chicas*/

/* Comienzo animacion hola */

.violeta {
  color: blueviolet;
}

.celeste {
  color: rgb(43, 159, 226);
}

.verde {
  color: rgb(43, 226, 156);
}

.amarillo {
  color: rgb(226, 208, 43);
}

.rosa {
  color: rgb(247, 56, 237);
}

.hola {
  padding-left: 3px;
  font-family: "Roboto", sans-serif;
  line-height: 2rem;
  font-size: 1.5rem;
  padding-top: 5px;
  padding-bottom: 2px;
  overflow: auto;
  display: inline-block;
  font-weight: bold;
  animation-timing-function: ease-in-out;
  animation-duration: 5s;
}

.strong {
  font-weight: bold !important;
}

.animate {
  animation-timing-function: ease-in-out;
  animation-duration: 6s;
}

/* Final animacion hola */

main {
  width: 100%;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.block {
  display: block;
}

/* Comienzo breakpoints */

@media only screen and (max-width: 890px) {
  nav a img {
    width: 50%;
    margin-top: 5px;
    margin-right: 0;
  }

  nav ul li a {
    font-size: 1.2rem;
  }

  .text-center {
    text-align: justified;
  }

  .text-left {
    text-align: center;
    padding: 10px 25px;
  }

  div iframe {
    align-content: stretch;
    margin-right: 5px;
  }

  .fotosanimate {
    min-height: 320px;
  }

  main div img {
    min-height: 220px;
  }


  .izquierda-texto {
    text-align: center;
    margin-left: 5px;
  }

  .text-right {
    text-align: center;
    margin-right: auto;
    float: none;
  }

  .navbar-brand {
    width: 230px;
  }

  nav {
    padding-left: 0;
    padding-right: 0;
  }

  .row {
    margin-right: 5px;
    margin-left: 5px;
    --bs-gutter-x: 0.7rem;
    --bs-gutter-y: 0.7rem;
  }

  .button {
    justify-content: center;
    margin-right: auto;
  }
}

/* Final breakpoints */