@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

h1 {
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  margin-top: 3rem;
}

h2 {
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  margin-top: 0.7 rem;
}

h3 {
  color: #676767;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

p {
  color: #000000;
  font-family: "Roboto", sans-serif;
  line-height: 2rem;
  font-size: 1.5rem;
  padding-top: 5px;
  padding-bottom: 2px;
  overflow: auto;
}

header {
  background-color: #ffffff;
  padding: 0px 30px;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  list-style: none;
  display: inline-block;
  text-align: center;
}

nav ul li a {
  color: #000000;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  margin: 5px;
}

nav ul li a:hover {
  font-weight: bolder;
}

nav ul li a.active {
  font-weight: bolder;
}

nav ul {
  list-style: none;
  padding-right: 30px;
  margin-right: 30px;
}

input {
  text-decoration: none;
}

.hamburguesa {
  display: flex;
  visibility: hidden;
  display: inline-block;
  text-align: right;
  margin-right: 5px;
}

.text-right {
  text-align: right;
  margin-right: 25px;
  float: right;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
  padding: 10px 64px;
}

.vinculos-redes {
  width: 95%;
  padding-top: 25px;
  padding-bottom: 25px;
  margin: 25px auto;
  border-top: solid #000000 1px;
  border-bottom: solid #000000 1px;
}

main div img {
  width: 100%;
}

div iframe {
  margin-top: 120px;
  margin-right: 30px;
  margin-left: 40px;
}

div form {
  margin-right: 30px;
  margin-left: 40px;
}

.text-left-contact {
  margin-top: 120px;
  width: 24%;
}

.imagenes-ancho {
  width: 98%;
}

.flex {
  display: flex;
}

.izquierda-texto {
  width: 85%;
  margin-left: 30px;
  flex-wrap: wrap;
}

article p {
  margin-top: 10px;
}

.button {
  border-radius: 8px;
}

div p {
  display: inline-block;
}

@keyframes holaAnimate {
  0% { 
    color: blueviolet;
  }
  25% {
    color: rgb(43, 159, 226);
  }
  50% {
    color: rgb(43, 226, 156);
  }
  75% {
    color: rgb(226, 208, 43);
  }
  100% {
    color: rgb(247, 56, 237);
  }
}

.hola {
  padding-left: 3px;
}

.animate {
  animation-name: holaAnimate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 10s;
}

@keyframes fotosAnimate {
  0% {
    background-image: url(../img/imagen1-carrousel.png);
  }
  25% {
    background-image: url(../img/imagen2-carrousel.png);
  }
  50% {
    background-image: url(../img/imagen3-carrousel.png);
  }
  75% {
    background-image: url(../img/imagen4-carrousel.png);
  }
  100% {
    background-image: url(../img/imagen5-carrousel.png);
  }
}

main {
  width: 100%;
}

.fotosanimate {
  background-size: cover;
  animation-name: fotosAnimate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 10s;
}

.hidden {
  visibility: hidden;
}

#grid {
  width: 98%;
  display: grid;
  grid-template-columns: 3, 1fr;
  grid-template-rows: 3, 1fr;
  grid-template-areas:
    "one one two"
    "three four four"
    "five five six";
  margin-left: 25px;
}

.hijos {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.one {
  grid-area: one;
}

.two {
  grid-area: two;
}

.three {
  grid-area: three;
}

.four {
  grid-area: four;
}

.five {
  grid-area: five;
}

.six {
  grid-area: six;
}

.hijos {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.one {
  grid-area: one;
}

.two {
  grid-area: two;
}

.three {
  grid-area: three;
}

.four {
  grid-area: four;
}

.five {
  grid-area: five;
}

.six {
  grid-area: six;
}

@media only screen and (max-width: 768px) {
  #grid {
    align-content: stretch;
    margin-left: 5px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 6, 1fr;
    grid-template-areas:
      "one"
      "two"
      "three"
      "four"
      "five"
      "six";
  }

  nav ul li a {
    display: flex;
    flex-direction: column;
  }

  .hijos {
    height: 100%;
    width: 100%;
  }

  header {
    float: none;
    display: block;
    text-align: left;
  }

  nav ul li {
    display: block;
  }

  header a img {
    width: 50%;
    margin-top: 5px;
  }

  .hamburguesa {
    visibility: visible;
    float: right;
    margin-right: 5px;
    margin-top: 5px;
  }

  nav ul li a {
    font-size: 1.2rem;
  }

  .text-center {
    display: block;
    text-align: justified;
    padding: 5px 25px;
  }

  .text-left {
    text-align: center;
    padding: 10px 25px;
  }

  .text-left-contact {
    width: 100%;
    margin-right: 25px;
    margin-left: 25px;
    display: block;
  }

  div iframe {
    align-content: stretch;
    margin-top: 25px;
    margin-right: 25px;
    margin-left: 25px;
    width: 100%;
    display: block;
  }

  div form {
    align-content: stretch;
    margin-right: 25px;
    margin-left: 25px;
    width: 100%;
    display: block;
  }

  .fotosanimate {
    min-height: 300px;
  }
}
