@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

h1 {
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  margin-top: 3rem;
}

h2 {
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  margin-top: 0.7 rem;
}

h3 {
  color: #676767;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

p {
  color: #000000;
  font-family: "Roboto", sans-serif;
  line-height: 2rem;
  font-size: 1.5rem;
  padding-top: 5px;
  padding-bottom: 2px;
  overflow: auto;
}

nav ul li a {
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: 1.7rem;
  font-weight: 300;
}

footer div a img:hover {
  opacity: 70%;
}

nav ul li a:hover {
  font-weight: bold;
}

nav {
  padding-left: 25px;
  padding-right: 25px;
}

.bg-light {
  background-color: #ffffff !important;
}

.navbar-light .navbar-toggler {
  border-color: rgb(255, 255, 255);
}

.carousel-control-next,
.carousel-control-prev {
  opacity: 0.99;
}

.carousel-indicators [data-bs-target] {
  width: 12px;
  height: 12px;
  border-radius: 100%;
}

.row {
  margin-right: 25px;
  margin-left: 25px;
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 1.5rem;
}

input {
  text-decoration: none;
}

.text-right {
  text-align: right;
  margin-right: 25px;
  float: right;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
  padding: 10px 64px;
}

.vinculos-redes {
  width: 95%;
  padding-top: 25px;
  padding-bottom: 25px;
  margin: 25px auto;
  border-top: solid #000000 1px;
  border-bottom: solid #000000 1px;
  display: inline-block;
  letter-spacing: 21px;
}

main div img {
  width: 100%;
}

div iframe {
  margin-top: 100px;
  margin-right: 30px;
  margin-left: 40px;
}

div form {
  margin-right: 30px;
  margin-left: 40px;
}

.text-left-contact {
  margin-top: 100px;
  width: 24%;
}

.imagenes-ancho {
  width: 98%;
}

.flex {
  display: flex;
  display: inline-block;
}

.izquierda-texto {
  width: 85%;
  margin-left: 30px;
  flex-wrap: wrap;
}

article p {
  margin-top: 10px;
}

.button {
margin-right: 30px;
}

button:hover {
  opacity: 70%;
}

div p {
  display: inline-block;
}

@keyframes holaAnimate {
  0% {
    color: blueviolet;
  }

  25% {
    color: rgb(43, 159, 226);
  }

  50% {
    color: rgb(43, 226, 156);
  }

  75% {
    color: rgb(226, 208, 43);
  }

  100% {
    color: rgb(247, 56, 237);
  }
}

.hola {
  padding-left: 3px;
}

.animate {
  animation-name: holaAnimate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 10s;
}

main {
  width: 100%;
}

.hidden {
  visibility: hidden;
}

.formhidden {
  visibility: hidden;
}

.formvisible {
  visibility: visible;
}

#grid {
  width: 98%;
  display: grid;
  grid-template-columns: 3, 1fr;
  grid-template-rows: 3, 1fr;
  grid-template-areas:
    "one one two"
    "three four four"
    "five five six";
  margin-left: 25px;
}

.one {
  grid-area: one;
}

.two {
  grid-area: two;
}

.three {
  grid-area: three;
}

.four {
  grid-area: four;
}

.five {
  grid-area: five;
}

.six {
  grid-area: six;
}

.hijos {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.one {
  grid-area: one;
}

.two {
  grid-area: two;
}

.three {
  grid-area: three;
}

.four {
  grid-area: four;
}

.five {
  grid-area: five;
}

.six {
  grid-area: six;
}

@media only screen and (max-width: 1330px) {
  .hijos {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .text-left-contact {
    margin-top: 20px;
  }

  div iframe {
    margin-top: 20px;
    margin-right: 5px;
    width: 90%;
  }

  .formvisible {
    visibility: hidden;
  }

  .formhidden {
    visibility: visible;
  }
}

@media only screen and (max-width: 890px) {
  #grid {
    align-content: stretch;
    margin-left: 5px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 6, 1fr;
    grid-template-areas:
      "one"
      "two"
      "three"
      "four"
      "five"
      "six";
  }

  .hijos {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  nav a img {
    width: 50%;
    margin-top: 5px;
    margin-right: 0;
  }

  nav ul li a {
    font-size: 1.2rem;
  }

  .text-center {
    text-align: justified;
  }

  .text-left {
    text-align: center;
    padding: 10px 25px;
  }

  .text-left-contact {
    width: 100%;
    margin-right: 25px;
    margin-left: 25px;
    display: block;
  }

  div iframe {
    align-content: stretch;
    margin-top: 25px;
    margin-right: 25px;
    margin-left: 25px;
    width: 93%;
    display: block;
  }

  div form {
    align-content: stretch;
    width: 93%;
    display: block;
    margin-right: 20px;
    margin-left: 20px;
  }

  .fotosanimate {
    min-height: 320px;
  }

  main div img {
    min-height: 220px;
  }

  .contacto {
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;
  }

  .izquierda-texto {
    text-align: center;
    margin-left: 5px;
  }

  .text-right {
    text-align: center;
    margin-right: auto;
    float: none;
  }

  .navbar-brand {
    width: 230px;
  }

  nav {
    padding-left: 0;
    padding-right: 0;
  }

  .row {
    margin-right: auto;
    margin-left: auto;
    --bs-gutter-x: 0.7rem;
    --bs-gutter-y: 0.7rem;
  }

}