// colores

$bg-color: rgb(255, 255, 255);

$main-color: rgb(0, 0, 0);

$secondary-color: #676767;

// anchos

$w-100: 100%;

$w-98: 98%;

$w-85: 85%;

$w-50: 50%;

// altos

$h-100: 100%;