@import 'vars';
@import 'fonts';
@import 'navBar';
@import 'commons';
@import 'proyectos';
@import 'contacto';
@import 'footer';
@import 'mediaq';

.carousel-control-next,
.carousel-control-prev {
  opacity: 0.99;
}

.carousel-indicators [data-bs-target] {
  width: 12px;
  height: 12px;
  border-radius: 100%;
}


main div img {
  width: $w-100;
}


.imagenes-ancho {
  width: $w-98;
}


.izquierda-texto {
  width: $w-85;
  margin-left: 30px;
  flex-wrap: wrap;
}

article p {
  margin-top: 10px;
}


div p {
  display: inline-block;
}

article p {
  display: block;
}